.text_blue{
    color: #00356c;
}
.title_font{
    font-family: 'Roboto Condensed', sans-serif;
}
.text_font{
    font-family: 'Raleway', sans-serif;
}

.header_container_fluid{
    min-height: 198px;
    border-bottom: 5px solid #ebebeb;
}
.header_row{
    padding-top: 30px;
}
.flag_img{
    margin-left: 30px;
    margin-top:10px;
}
.main_menu{
    display: inline-block;
    width: inherit;
    height: 60px;
    overflow: none;
}
.menu_ul{
    list-style: none;
    padding: 0px;
}
.menu_ul li{
    width: 150px;
    height: 60px;
    overflow: none;
    padding: 0px;
}
.active_menu{
    background-position-y: 0px !important;
}
.home_menu{
    background: url(../images/home_menu_btn.jpg); 
    background-repeat: no-repeat;
    background-position-y: -57px;
}
.home_menu:hover{
    background: url(../images/home_menu_btn.jpg); 
    background-repeat: no-repeat;
}
.aboutus_menu{
    background: url(../images/aboutus_menu_btn.jpg); 
    background-repeat: no-repeat;    
    background-position-y: -57px;
}
.aboutus_menu:hover{
    background: url(../images/aboutus_menu_btn.jpg); 
    background-repeat: no-repeat;
}
.services_menu{
    background: url(../images/services_menu_btn.jpg); 
    background-repeat: no-repeat;    
    background-position-y: -57px;
}
.services_menu:hover{
    background: url(../images/services_menu_btn.jpg); 
    background-repeat: no-repeat;
}
.searchmaid_menu{
    background: url(../images/searchmaid_menu_btn.jpg); 
    background-repeat: no-repeat;    
    background-position-y: -57px;
}
.searchmaid_menu:hover{
    background: url(../images/searchmaid_menu_btn.jpg); 
    background-repeat: no-repeat;
}
.faqs_menu{
    background: url(../images/faq_menu_btn.jpg); 
    background-repeat: no-repeat;    
    background-position-y: -57px;
}
.faqs_menu:hover{
    background: url(../images/faq_menu_btn.jpg); 
    background-repeat: no-repeat;
}
.contactus_menu{
    background: url(../images/contactus_menu_btn.jpg); 
    background-repeat: no-repeat;    
    background-position-y: -57px;
}
.contactus_menu:hover{
    background: url(../images/contactus_menu_btn.jpg); 
    background-repeat: no-repeat;
}
.aboutsec_container_fluid{
    background:rgba(139,165,186,0.8);
    min-height: 245px;
}
.aboutsec_container{
    padding:50px 0px 50px 0px;
}
.aboutsec_container h2{
    text-align: center;
    color:#fff;   
}
.aboutsec_row p{
    text-align: center;
    color:#fff;
    line-height: 2em;
}
.maincontents{
    width: 100%;
    min-height: 1250px;
    background-image: url(../images/maincontent_bg.png);
    background-repeat: repeat-y;

}
.homecontent_container{
    padding: 102px 0px 0px 0;
}
.maid_bio_card{
    padding: 5px;
    background: #8ba5ba;
    margin-left: 41px;
    color:#fff;
    margin-bottom: 15px;
}
.Bio_title{
    display: inline-block;
}
.pagin_previous{
    width: 34px;
    height: 34px;
    overflow: none;
    background-image: url(../images/arrow_btn.png);
    background-repeat: no-repeat;
    background-position-x: 0px;
    position: relative;
    float: left;
    
}
.pagin_next{
    width: 34px;
    height: 34px;
    overflow: none;
    background-image: url(../images/arrow_btn.png);
    background-repeat: no-repeat;
    background-position-x: -34px;
    position: relative;
    float: left;
}
.maid_bio_inside_col_title{
    padding-left: 40px;
}
.maid_bio_inside_col_pagin{
    padding-left:60px;
}
.maid_bio_col_title, .maid_bio_col_text{
    padding: 0px 10px 0px 10px;
}
.maid_bio_col_title_wrap{
    padding-bottom: 50px;
}
.maid_bio_col_text{
    margin-top: 40px;
}
.maid_bio_col_row2{
    margin-top: 100px;
}
.footer_container_fluid{
    background: #f2f2f2;
}
.footer_container{
    padding: 20px 0 20px 0 !important;
}
.footer_container span a{
    text-decoration: none;
    color: #333;
}
/*----------------------------------------------  about us -----------------------------------------------*/
.nav_title_container_fluid{
  min-height: 165px;
  background-image: url(../images/site_navi_bg.png);
  background-repeat: repeat-x;
}
.site_nav_text{
  line-height: 165px;
  font-size: 1.6em;
}
.short_contents{
  min-height: 700px !important;
}
.aboutcontent_container{
  padding-bottom: 200px;
}
/*-----------------------------------------------  Services ----------------------------------------*/
.services_col{
    padding: 16px 8px 16px 8px;
}
.services_type{
    padding-left: 0px;
}
.services_type li {
    height: 19px;
    margin: 20px 0; /* not needed, just to add space between the li's */
    background: url('../images/bullet.png') no-repeat left center;
    list-style: none; /* Get rid of the default bullet points */
    padding-left: 25px; /* Offsets the text. Needs to be at least the width of your image */
    line-height: 20px; /* Might have to play with this value a bit */
}
/*-------------------------------------------- FAQS ------------------------------------------*/
.faqs_container{
    padding: 10px 0 10px 0;
}
.faqs_row{
    padding: 16px;
}
.accord_text_links{
    color: #000 !important;
    font-weight: bolder;
    text-decoration: none !important;
}
.send_btn{
    background: #acb6bf;
    border-color: #00356c;
    color: #fff;
}